@model IEnumerable<Day1.BLL.DTObjects.VehicleDTO>
@{
    ViewData["Title"] = "Index";
}

<form method="post" action="~/Vehicle/Search">
    <div class="form-group">
        <input name="name" type="text" class="form-control" placeholder="Введите название ТС" />
    </div>
    <div class="form-group">
        <input name="beforeDate" type="date"  class="form-control" placeholder="Дата создания ДО" />
    </div>
    <div class="form-group">
        <input name="fromDate" type="date"  class="form-control" placeholder="Дата создания ОТ" />
    </div>
    <div class="form-group">
        <select name="modelId" class="form-control" asp-items="ViewBag.Models">
            <option>Выберите марку</option>
        </select>
    </div>
    <div  class="form-group">
        <select name = "brandId" class="form-control" asp-items="ViewBag.Brands">
            <option>Выберите модель</option>
        </select>
    </div>
    <input type="submit" value="Поиск" />
</form>


<a asp-action="Create"><h3>Добавить ТС</h3></a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GovernmentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GovernmentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


